VITE_LEADMANAGER_ENDPOINT=
VITE_USERHUB_ENDPOINT=
VITE_MEETANDNOTE_ENDPOINT=
VITE_PROPOSAL_ENDPOINT=
VITE_AECPOSTMAN_ENDPOINT=
VITE_ROOT_DOMAIN_NAME=
VITE_WEBSITE_URL=
VITE_APP_URL=
VITE_AEC_PORTAL_URL=
VITE_AUTH_URL=
VITE_APIKEY=
VITE_GOOGLE_MAP_APIKEY=
VITE_INTOAEC_LOGO=
VITE_DEFAULT_ORGANIZATION_TYPE=
VITE_CURRENT_ENV=
VITE_WHITELISTED_DOMAINS=
