NEXT_PUBLIC_LEADMANAGER_ENDPOINT=
NEXT_PUBLIC_USERHUB_ENDPOINT=
NEXT_PUBLIC_MEETANDNOTE_ENDPOINT=
NEXT_PUBLIC_PROPOSAL_ENDPOINT=
NEXT_PUBLIC_AECPOSTMAN_ENDPOINT=
NEXT_PUBLIC_ROOT_DOMAIN_NAME=
NEXT_PUBLIC_WEBSITE_URL=
NEXT_PUBLIC_APP_URL=
NEXTAUTH_URL=
APIKEY=
NEXT_PUBLIC_APIKEY=
NEXT_PUBLIC_GOOGLE_MAP_APIKEY=
NEXT_PUBLIC_INTOAEC_LOGO=
NEXT_PUBLIC_DEFAULT_ORGANIZATION_TYPE=
NEXT_PUBLIC_CURRENT_ENV=
NEXT_WHITELISTED_DOMAINS=
