#nprogress .bar {
  z-index: 9999;
  height: 4px;
}

#nprogress .spinner {
  display: none;
  z-index: 9999;
}

.image-box {
  width: 6rem;
  height: 6rem;
  /* background-color: aqua; */

  border-radius: 1rem;
  border-style: dashed;
  border-width: 1.5px;
  border-color: grey;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
}
.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-text {
  height: 1rem !important;
  padding: 0.5px 6px !important;
  width: 6rem;
}
.color-gray {
  color: grey;
}

.pointer {
  cursor: pointer;
}

.imgDialogHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.txBtClr {
  color: black;
  font-weight: 500;
  border-bottom: 1px solid black;
}

.image-box-1 {
  width: 7rem;
  height: 7rem;
  border: none;
}

.add-image-box {
  width: 7.5rem;
  height: 10rem;

  border-radius: 1rem;
  border-style: dashed;
  border-width: 1.5px;
  border-color: grey;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.br-none {
  border: none !important;
}

.gap-1 {
  gap: 1rem;
}

.round {
  height: 31px;
  width: 32px;
  border: 1px solid grey;
  border-radius: 50%;
}

.round-select {
  background-color: #3ca2ff;
  color: white;
}

.row-reverse {
  flex-direction: "row-reverse";
}

.d-inline-block {
  display: inline-block;
}
